.cardContainer {
  height: 252px;
  border: 1px solid #dbd7f4;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  .cardImage {
    /* padding: 10px; */
    /* border: 1px solid lightgray; */
    /* background-color: grey;   */
    width: 364px;
    height: 166px;
    border-radius: 10px;
  }
}
.cardInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;

  .dishName {
    font-size: 16;
    font-weight: 700;
  }
  .price {
    font-size: 16px;
    font-weight: 700;
    color: #42bda1;
  }
}
.dishImage {
  width: 100%;
  height: 166px;
  object-fit: cover;
  border-radius: 10px;
}
