.sideBarWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 112px;
  border-right: 1px solid lightgray;
  justify-content: space-evenly;
  /* height: 722px; */
  /* justify-content: space-between; */
  position: fixed;
  height: 100%;
  background: #ffffff;
  /* margin-top: 80px; */
}
