.wrapper {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 30px; */
}
.statusCardContainer {
  width: 292px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 8px;
  background: #fff;

  .statusCutomers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .statusIconsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .statusArrowIcon {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
    .statusCustomerPercentage {
    }
  }
}
